/* Color variables */
:root {
  --white-color: #fff;
  --bg-color: #fff;
  --gray-color: #ccc;
}

/* Changing background color */
body {
  background: var(--bg-color) !important;
}

/* Changing link color */
.nav-item .nav-link {
  color: var(--white-color);
}

/* Hero section background image */
.hero {
  height: 100vh;
  background-image: url("../images/calculator-app.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#skills i {
  height: 100px;
  width: 100px;
}

#project img {
  height: 300px;
  object-fit: cover;
}

#about .img,
#about img,
.hire-text h2 {
  position: relative;
}

/* Timeline background line */
#about .img::before {
  content: "";
  left: 50%;
  width: 4px;
  position: absolute;
  height: calc(100% + 140px);
  background: var(--gray-color);
}

#about img,
#about .hire-text h2 {
  width: 140px;
}

#about .hire-text h2 {
  height: 140px;
}

.social-icons a {
  width: 40px;
  height: 40px;
}

footer .social-icons a {
  width: 30px;
  height: 30px;
}

#cv img {
  width: 230px;
}

/* Contact section background image */
#contact {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url("../images/contact-bg.jpeg");
}

@media screen and (max-width: 990px) {
  #skills .card {
    width: calc(100% / 2 - 10px) !important;
  }
}

@media screen and (max-width: 668px) {
  #skills .card,
  #portfolio .card-wrapper {
    width: 100% !important;
  }
}
#Qualifications {
  background-attachment: fixed;
  font-size: 18px;
  padding-bottom: 40px;
  color: #000000;
  
  
  /* margin-left: 317px; */

}

#QualificationsRow 
{
  margin-top: 100px;
  margin-bottom: 100px;
}

#QualificationsRow div.col-lg-offset-1 {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0px 0px 18px blue;
  opacity: 0.8;
}

#Qualifications table {
  width: 100%;
  margin-top: 50px;
  justify-content: space-evenly;
}

#Qualifications table tr td {
  padding-bottom: 20px;
}

#Qualifications table tr td:first-child {
  width: 30%;
  padding-left: 10px;
}
.certifications {
  border: 2px solid rgba(224, 219, 219, 0.84);
  border-radius: 8px;
  background-color: rgba(224, 219, 219, 0.84);
  margin-bottom: 40px;
  margin-left: -5px;
  width: 600px;
  padding: 48px 0px 45px 49px;
  box-shadow: 0px 0px 18px blue;
}
